:root {
  --logo-message: "Anonimowe forum!";
}

@font-face {
  font-family: "Minecraft";
  src: url("/MinecraftFont.otf");
}
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-image: url("/background.jpg");
  background-size: 100px;
  image-rendering: pixelated;
  font-size: clamp(8px, 2.4vw, 34px);
  font-family: "Minecraft";
}

.blockButton {
  width: 100%;
  height: clamp(15.3846153846px, 4.6153846154vw, 65.3846153846px);
  font-family: "Minecraft";
  font-size: clamp(8px, 2.4vw, 34px);
  text-shadow: clamp(0.8px, 0.24vw, 3.4px) clamp(0.8px, 0.24vw, 3.4px) #383838;
  box-shadow: 0 0 0 clamp(1px, 0.3vw, 4.25px) rgb(0, 0, 0);
  border-bottom: clamp(2px, 0.6vw, 8.5px) solid rgba(0, 0, 0, 0.25);
  border-right: clamp(1px, 0.3vw, 4.25px) solid rgba(0, 0, 0, 0.25);
  border-left: clamp(1px, 0.3vw, 4.25px) solid rgba(255, 255, 255, 0.5);
  border-top: clamp(1px, 0.3vw, 4.25px) solid rgba(255, 255, 255, 0.5);
  background-image: url("/buttonbackground.png");
  background-size: clamp(50px, 15vw, 212.5px);
  border-radius: 0;
  color: #e0e0e0;
}

.blockButton:hover {
  color: #ffffa0;
  text-shadow: clamp(0.8px, 0.24vw, 3.4px) clamp(0.8px, 0.24vw, 3.4px) #3f3f28;
  background-image: url("/buttonbackgroundlid.png") !important;
}

#home {
  color: white;
}
#home #routeIndicator {
  margin-left: clamp(1.6px, 0.48vw, 6.8px);
  text-shadow: clamp(0.8px, 0.24vw, 3.4px) clamp(0.8px, 0.24vw, 3.4px) rgba(0, 0, 0, 0.25);
  color: #505050;
}
#home header {
  display: flex;
  justify-content: center;
}
#home header div {
  position: relative;
  aspect-ratio: 190/33;
  height: clamp(40px, 12vw, 170px);
  margin-top: clamp(13.3333333333px, 4vw, 56.6666666667px);
}
#home header div #logoImage {
  height: 100%;
}
#home header div::after {
  content: var(--logo-message);
  color: #FFFF55;
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  font-size: clamp(13.3333333333px, 4vw, 56.6666666667px);
  text-shadow: clamp(1.3333333333px, 0.4vw, 5.6666666667px) clamp(1.3333333333px, 0.4vw, 5.6666666667px) #3f3f00;
  animation: messageResize 0.5s infinite;
  transform-origin: center;
  right: 0;
  bottom: 0;
}
@keyframes messageResize {
  from {
    transform: translateX(clamp(80px, 24vw, 340px)) translateY(clamp(-4px, -1.2vw, -17px)) rotate(-18deg) scale(1);
  }
  50% {
    transform: translateX(clamp(80px, 24vw, 340px)) translateY(clamp(-4px, -1.2vw, -17px)) rotate(-18deg) scale(1.05);
  }
  to {
    transform: translateX(clamp(80px, 24vw, 340px)) translateY(clamp(-4px, -1.2vw, -17px)) rotate(-18deg) scale(1);
  }
}
#home nav {
  margin-top: clamp(33.3333333333px, 10vw, 141.6666666667px);
  display: flex;
  justify-content: center;
  width: 100%;
}
#home nav #container {
  display: flex;
  flex-direction: column;
  gap: clamp(5px, 1.5vw, 21.25px);
  width: clamp(173.9130434783px, 52.1739130435vw, 739.1304347826px);
}
#home nav #container #bonus {
  margin-top: clamp(10px, 3vw, 42.5px);
  display: flex;
  flex-direction: row;
  gap: clamp(5.7142857143px, 1.7142857143vw, 24.2857142857px);
}
#home footer {
  position: absolute;
  bottom: 0;
  right: 0;
  text-shadow: clamp(0.8px, 0.24vw, 3.4px) clamp(0.8px, 0.24vw, 3.4px) #3f3f3f;
}

#posts {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#posts header {
  color: white;
  width: 100%;
  margin-top: clamp(13.3333333333px, 4vw, 56.6666666667px);
  margin-bottom: clamp(2.6666666667px, 0.8vw, 11.3333333333px);
  text-align: center;
  text-shadow: clamp(0.8px, 0.24vw, 3.4px) clamp(0.8px, 0.24vw, 3.4px) #3f3f3f;
}
#posts section {
  box-shadow: inset 0px 20px 10px -10px black, inset 0px -20px 10px -10px black;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  color: white;
  overflow: hidden;
}
#posts section #postContainer {
  position: relative;
  height: 100%;
  width: clamp(0px, 100vw, 1000px);
  overflow: scroll;
  scrollbar-width: none;
}
#posts section #postContainer ::-webkit-scrollbar {
  display: none;
}
#posts section #postContainer .post {
  background: none;
  border: 2px solid white;
  color: white;
  display: flex;
  flex-direction: column;
  justify-items: start;
  text-align: left;
  font-family: "Minecraft";
  height: clamp(40px, 12vw, 170px);
  font-size: clamp(8px, 2.4vw, 34px);
  padding: clamp(2px, 0.6vw, 8.5px);
}
#posts section aside {
  height: 100%;
  width: clamp(5.7142857143px, 1.7142857143vw, 24.2857142857px);
  background-color: black;
  position: relative;
}
#posts section aside #scrollbar {
  position: absolute;
  top: 0;
  height: 80%;
  width: 100%;
  background-color: #c0c0c0;
  box-sizing: border-box;
  border-right: clamp(0.9523809524px, 0.2857142857vw, 4.0476190476px) solid #808080;
  border-bottom: clamp(0.9523809524px, 0.2857142857vw, 4.0476190476px) solid #808080;
}
#posts footer {
  padding: clamp(8px, 2.4vw, 34px);
  display: flex;
  justify-content: center;
}
#posts footer #options {
  width: clamp(200px, 80vw, 1200px);
  display: flex;
  margin-top: clamp(5px, 1.5vw, 21.25px);
  justify-content: center;
  gap: clamp(8px, 2.4vw, 34px);
  flex-wrap: wrap;
}
#posts footer #options a {
  width: 45%;
}

/*# sourceMappingURL=app.css.map */
