:root {
    --logo-message: 'Anonimowe forum!';
}

@font-face {
    font-family: "Minecraft";
    src: url("/MinecraftFont.otf");
}

body {
    margin: 0;
    background-image: url("/background.jpg");
    background-size: 100px;
    image-rendering: pixelated;

    font-family: "Minecraft";
}

#home {
    color: white;
    
    $min: 40px; $val: 12vw; $max: 170px;
    
    @function scaleclamp($n) { @return clamp($min/$n, $val/$n, $max/$n) }

    #routeIndicator {
        margin-left: scaleclamp(25);
        font-size: scaleclamp(4);
        text-shadow: scaleclamp(40) scaleclamp(40) rgba(0, 0, 0, 0.25);
        color: #505050;
    }

    header {
        display: flex;
        justify-content: center;

        div { 
            position: relative;
            aspect-ratio: 190 / 33; 
            height: scaleclamp(1);
            margin-top: scaleclamp(3);

            #logoImage { height: 100% }
        }

        div::after {
            content: var(--logo-message);
            color: #FFFF55;
            position: absolute;
            display: block;
            width: 100%;
            text-align: center;
            font-size: scaleclamp(3);
            text-shadow: scaleclamp(30) scaleclamp(30) rgba(0, 0, 0, 0.5);
            animation: messageResize 0.5s infinite;
            transform-origin: center;
            right: 0;
            bottom: 0;
        }
        
        $transform-default: translateX(scaleclamp(0.5)) translateY(scaleclamp(-10)) rotate(-18deg);

        @keyframes messageResize {
            from { transform: $transform-default scale(1) }
            50% { transform: $transform-default scale(1.05) }
            to { transform: $transform-default scale(1) }
        }
    }
    
    nav {
        margin-top: scaleclamp(1.2);
        display: flex;
        justify-content: center;
        width: 100%;

        #container {
            display: flex;
            flex-direction: column;
            gap: scaleclamp(8);
            width: scaleclamp(0.23); 
            
            button {
                width: 100%;
                height: scaleclamp(2.6);
                font-family: "Minecraft";
                font-size: scaleclamp(5);
                text-shadow: scaleclamp(50) scaleclamp(50) #383838;
                box-shadow: 0 0 0 scaleclamp(40) rgba(0, 0, 0, 1);
                border-bottom: scaleclamp(20) solid rgba(0, 0, 0, 0.25);
                border-right: scaleclamp(40) solid rgba(0, 0, 0, 0.25);
                border-left: scaleclamp(40) solid rgba(255, 255, 255, 0.5);
                border-top: scaleclamp(40) solid rgba(255, 255, 255, 0.5);
                background-image: url("/buttonbackground.png");
                background-size: scaleclamp(0.8);
                border-radius: 0;
                color: white;
            }
            
            button:hover {
                color: #ffffa0;
                text-shadow: scaleclamp(50) scaleclamp(50) #3f3f28;
                background-image: url("/buttonbackgroundlid.png") !important;
            }

            #bonus {
                margin-top: scaleclamp(4);
                display: flex;
                flex-direction: row;
                gap: scaleclamp(7);
            }
        }
    }

    footer {
        position: absolute;
        bottom: 0;
        right: 0;

        font-size: scaleclamp(4);
    }
}
